In [49]:
print('1부터 n까지 정수의 합을 구합니다.')

while True:
    n = int(input('n값을 입력하세요.: '))
    if n > 0:
        break  # n이 0보다 커질 때까지 반복

sum = 0
i = 1

for i in range(1, n + 1):
    sum += i  # sum에 i를 더함
    i += 1    # i에 1을 더함

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.

n값을 입력하세요.:  5

1부터 5까지 정수의 합은 15입니다.

In [52]:
5%4

1

In [54]:
5%5

0

In [56]:
if 1

SyntaxError: expected ':' (3101540257.py, line 1)

In [58]:
if 5%5

SyntaxError: expected ':' (443319281.py, line 1)

In [62]:
if 5%3: print(1)

1

In [65]:
# [Do it! 실습 1-19] 1~12까지 8을 건너뛰고 출력하기 1

for i in range(1, 13):
    if i == 8:
        continue
    print(i, end=' ')
    
print()

1 2 3 4 5 6 7 9 10 11 12

In [68]:
# [Do it! 실습 1-20] 1부터 12까지 8을 건너 뛰고 출력하기 2

for i in list(range(1, 8)) + list(range(9, 13)):
    print(i, end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

In [ ]:
 bbbbbbbbb bb

In [75]:
# [Do it! 실습 1-21] 구구단 곱셈표 출력하기

print('-' * 27)
for i in range(1, 10):      # 행 루프
    for j in range(1, 10):  # 열 루프
        print(f'{i * j : 3}', end='')
    print()                 # 행 변경
print('-' * 27)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

In [80]:
#[Do it! 실습 2-1] 학생 5명의 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.

1번 학생의 점수를 입력하세요.:  50
2번 학생의 점수를 입력하세요.:  60
3번 학생의 점수를 입력하세요.:  70
4번 학생의 점수를 입력하세요.:  80
5번 학생의 점수를 입력하세요.:  90

합계는 350점입니다.
평균은 70.0점입니다.

In [92]:
s = [1,2,3,4,5]

In [94]:
s[:]

[1, 2, 3, 4, 5]

In [96]:
s

[1, 2, 3, 4, 5]

In [98]:
s

[1, 2, 3, 4, 5]

In [100]:
s[1:3]

[2, 3]

In [102]:
%cd './max.py'

[Errno 2] No such file or directory: './max.py'
/Users/moon/Desktop/HYU/HYU_PYTHON/source

In [ ]:
%cd "